.contact {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: inherit;


    transition: color 250ms var(--transaction-time);
    &:hover,
    &:focus {
    color: var(--focus-color);
    }
}

