.list-social-connection {
    justify-content: center;
    gap: 10px;
}

.list-social-connection__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
 
    color: #AFB1B8;
    border-radius: 50%;

    transition: color 250ms var(--transaction-time),
    background-color 250ms var(--transaction-time);

    &--inverse-bgc {
    color: var(--prime-bg-color);
    background-color: rgba(255, 255, 255, 0.1);
    }

    &:hover,
    &:focus {
    background-color: var(--focus-color);
    color: var(--prime-bg-color);
}
}

.list-social-connection__icon {
    fill: currentColor;
}