:root {
    --prime-bg-color: #ffffff;
    --footer-bg-color: #2F303A;
    --third-bg-color: #F5F4FA;
    --primary-txt-color: #757575;
    --secondary-txt-color: #212121;
    --focus-color: #2196F3;
    --btn-hv-color: #188CE8;
    --transaction-time: cubic-bezier(0.4, 0, 0.2, 1);
}