.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.clients-list__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 210px;
    height: 92px;

    color: #AFB1B8;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: color 250ms var(--transaction-time),
    border-color 250ms var(--transaction-time);

    &:hover,
    &:focus {
    border-color: var(--focus-color);
    color: var(--focus-color);
    }

    @media screen and (min-width:768px) {
        width: 226px;
        
    }
    @media screen and (min-width:1200px) {
        width: 170px;
    }
}

.clients-list__icon {
    fill: currentColor;
}