.header {
    border-bottom: #ECECEC 1px solid;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;

    }
}

.header__navigation{

    display: flex;
    align-items: center;
    justify-content: center;
 
}
.header__logo {
    display: block;
    margin-right: 93px;
}

.logo__scnd-txt {
    color: var(--secondary-txt-color);
    &--invers-color{
    color: var(--prime-bg-color);
    }
}
.header__contacts{

}
.header__contact-item{
    &:hover, &:focus {
    color: var(--focus-color);
    }
}

.header__contact-icon {
    fill: currentColor;
    margin-right: 10px;
}
.header__nav-links,
.header__contacts {
    gap: 50px;
    @media screen and (max-width: 767px) {
            display: none;
        }
}
.header__contacts {
    margin-left: auto;


}
.header__navigation-link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-color);

    transition: color 250ms var(--transaction-time);

    &:hover,
    &:focus {
    color: var(--focus-color);
    }

    &--current {
    color: var(--focus-color);
    }

    &--current::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 4px;
    background-color: var(--focus-color);
    border-radius: 2px;
    }
}

