.header {
    border-bottom: #ECECEC 1px solid;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;

    }
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        justify-content: center;
        
    }
}
.header__logo {
    display: block;
    margin-right: 88px;

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}
.logo__scnd-txt {
    color: var(--secondary-txt-color);

    &--invers-color {
        color: var(--prime-bg-color);
    }
}

.header__navigation{
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:767px) {
        display: none;
    }
}

.header__navigation-link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-color);

    transition: color 250ms var(--transaction-time);

    &:hover,
    &:focus {
        color: var(--focus-color);
    }

    &--current {
        color: var(--focus-color);
    }

    &--current::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -1px;

        width: 100%;
        height: 4px;
        background-color: var(--focus-color);
        border-radius: 2px;
    }
}

.header__contacts {
    margin-left: auto;
    @media screen and (max-width:767px) {
        display: none;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        display: block;
        justify-content: left;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
}

.header__contact-item{
    display: flex;

    &:hover, &:focus {
    color: var(--focus-color);
    }
    @media screen and (min-width:768px) and (max-width: 1199px){
        margin-bottom: 10px;
    }  
    @media screen and (min-width:1200px) {
        justify-content: center;
        align-items: center;
        
    }

}
.header__contact-item:last-of-type{
    margin-bottom: 0px;
}

.header__contact-icon {
    fill: currentColor;
    margin-right: 8px;

    @media screen and (min-width:1200px) {
        margin-right: 10px;
    }
}
.header__nav-links,
.header__contacts {
    gap: 50px;

}
