.cards {

    flex-wrap: wrap;
}
.buttons {
    display: flex;
}


.border {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;

    border: 1px solid #EEEEEE;
    border-top: none;
}

.complete-card {

    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--prime-bg-color);
}

.complete-card:nth-child(3n) {
    margin-right: 0px;
}

.complete-card:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.card-block {

    display: block;
    width: 450px;

    text-decoration: none;

    transition: box-shadow 250ms var(--transaction-time);
}

.card-thumb {
    position: relative;
    overflow: hidden;
    width: 450px;



}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);

    transition: transform 250ms var(--transaction-time);
}

.card-desc {

    font-size: 18px;
    line-height: 1.56;
    color: var(--prime-bg-color);
}

.card-block:hover .card-overlay,
.card-block:focus .card-overlay {
    transform: translateY(0);
}

.card-block:hover,
.card-block:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.c-card-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-txt-color);
}

.c-card-txt {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-txt-color);
}