.why-list {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
 

}

.why-list__item {
  
    display: block;
    @media screen and (min-width: 768px) {
        width: calc((100% - 60px)/2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px)/4);
    }
    

}


.why-list__meta {
    display: flex;
    justify-content: center;
    align-items: center;
   
   
        @media screen and (min-width: 768px) {
            width: 354px;
        }
         @media screen and (min-width: 1200px) {
             width: 270px;
        }
    

    height: 120px;
    margin-bottom: 30px;

    background: var(--third-bg-color);
    border-radius: 4px;
}

.why-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--secondary-txt-color);
    
    @media screen and (max-width: 767px) {
        text-align: center;
        } 
    }
   

.why-list__description {
    line-height: 1.71;
}